.col {
    background: rgba(0,0,255,0.1);
}
.row {
    background: rgba(0,255,0,0.1);
}
.inner {
    background: rgba(255,0,0,0.1);
    border: 1px solid black;
}

i.icon {
    position:  relative;
}

i.icon:before {
    content: '';
    height: 16px;
    background: red;
    opacity: 0.5;
    width: 26px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: block;
}

i.icon:after {
    content: '';
    width: 1px;
    background: #470cff;
    opacity: 0.5;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right:0;
    margin: auto;
    display: block;
}