@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("../../resources/css/normalize.css");
@import url("./social_icons.css");
@import url("./header.css");
@import url("./grid.css");
@import url("./footer.css");
@import url("./depth.css");
@import url("./mosk.css");
/* @import url("./debug.css"); */

body {
    font-family: mosk, helvetica, arial, sans-serif;

}

.container {
    margin: 0 auto;
    max-width: 1100px;
    width: 90%;
}

.full-height {
    min-height: calc(100vh - 120px - 52px);
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.inner {
    padding: 2vw;
}

.center {
    text-align: center;
}

.valign-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.valign-wrapper .valign {
  display: block;
}

[page], [toggle] {
    cursor:  pointer;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-container[lazy-iframe]:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(255,255,255,0.35);
    background-image: url('http://www.beyond-recovery.co.uk/images/playButton.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20%;
    cursor: pointer;
    transition: all 200ms;
}
.video-container[lazy-iframe]:hover:after {
    background-color: rgba(255,255,255,0.1);
    background-size: 0%;
}

img {
    border-radius: 3px;
}