@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("../../resources/css/normalize.css");
@import url("./social_icons.css");
@import url("./header.css");
@import url("./grid.css");
@import url("./footer.css");
@import url("./depth.css");
@import url("./parallax.css");
@import url("./mosk.css");
/* @import url("./debug.css"); */

body {
    font-family: mosk, helvetica, arial, sans-serif;

}

html {
    touch-action: manipulation;
}

.container {
    margin: 0 auto;
    width: 95%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.spacer {
    margin: 3vw;
}

.spacer--1 {
    margin: 1vw;
}

.spacer--2 {
    margin: 2vw;
}

.spacer--3 {
    margin: 3vw;
}

.spacer--4 {
    margin: 4vw;
}

.spacer--5 {
    margin: 5vw;
}

.spacer--6 {
    margin: 6vw;
}


.center {
    text-align: center;
}

.valign-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.valign-wrapper .valign {
  display: block;
}

[page], [toggle] {
    cursor:  pointer;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.video-container img {
    width: 100%;
}

.video-container iframe, .video-container object, .video-container embed, .video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-container[lazy-iframe]:after {
    content: '';
    position: absolute;
    pointer-events: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(255,255,255,0.35);
    background-image: url('http://www.beyond-recovery.co.uk/images/playButton.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20%;
    cursor: pointer;
    transition: all 200ms;
}
.video-container[lazy-iframe]:hover:after {
    background-color: rgba(255,255,255,0.1);
    background-size: 0%;
}

.responsive-image {
    position: relative;
}

.crop16x9 {
    height: 0;
    padding-bottom: 56.25%;
}

.crop2x1 {
    height: 0;
    padding-bottom: 50%;
}

.crop3x1 {
    height: 0;
    padding-bottom: 33.333333%;
}

.crop3x2 {
    height: 0;
    padding-bottom: 66.666666%;
}


.responsive-image img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

img[lazy-img],
img[lazy-loading] {
    opacity: 0;
}

img {
    transition: all 500ms;
    border-radius: 3px;
}

.page-text {
    line-height: 1.7em;
    letter-spacing: 1px;
    word-spacing: 1px;
    text-align: justify;
    font-weight: 300;
}

.page-text p {
    margin-top: 0;
}

.page-text a {
    text-transform: none;
    display: inline-block;
    position: relative;
    transition: all 200ms;
}

.page-text a:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 100%;
    height: 5px;
    background-color: rgb(138, 197, 245);
    transition: all 200ms;
}

.page-text a:hover {
    background-color: rgb(138, 197, 245);
}

.page-text a:after {
    content: '';
    width: 100%;
    height: 5px;
    background-color: blue;
}

.page-text p::first-letter {
    /* font-size: 2em; */
    font-weight: bold;
}

.cols-l2 {
    column-width: 300px;
    column-count: 2;
    column-gap: 8vw;
}  
.caption {
    font-style: italic;
    font-size:0.9em;
}
