.crop img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.crop16x9 {
    padding-bottom: 56.25%;
}

.crop3x2 {
    padding-bottom: 66.6666%;
}

.crop2x1 {
    padding-bottom: 50%;
}

.crop1x2 {
    padding-bottom: 200%;
}

.crop3x1 {
    padding-bottom: 33.3333%;
}

.crop1x1 {
    padding-bottom: 100%;
}

.crop {
    display: block;
    position: relative;
    height: 0;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: silver;
    overflow: hidden;
}

.crop,
.crop img {
    transition: all 500ms;
}