body[current-page] footer {
    display: block;
}


body[current-page="main"] footer {
    display: none;
}

footer {
    display: none;
    text-align: center;
    color: white;
    padding: 2em 0;
    box-sizing: border-box;
}

footer a {
    color: inherit;
    margin: 1vw;
}