.player {
    background: black;
    text-align: center;
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.player .controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 100px 160px 50px 100px;
    opacity: .4;
    transition: all 800ms;
}

.player iframe {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: 56.25vw;
    width: 100%;
}

.player .controls:hover {
    opacity: 1;
}

.player .controls:before {
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    transition: all 800ms;
    opacity: .1;
    background: linear-gradient(180deg, transparent 0%, #000 100%);
}

.player .controls:hover:before {
    opacity: .9;
}

.player .controls .buttons {
    float: left;
    padding: 0 20px 0 0;
    box-sizing: border-box;
    color: white;
    font-size: 18px;
}

.player .controls .button {
    cursor: pointer;
    transform: translate(0, -50%);
    padding: 12px;
    width: 16px;
    height: 18px;
    text-align: center;
}

.player .controls .button.spin {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {transform: translate(0, -50%) rotate(0deg);}
    100% {transform: translate(0, -50%) rotate(359deg);}
}

.player .progress {
    overflow: hidden;
    position: relative;
    height: 10px;
    top: -5px;
}

.player .progress .line {
    height: 1px;
    background: white;
    opacity: .5;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    border-radius: 1px;
    transition: all 200ms, width 0ms linear;
}

.player .progress .line.elapsed {
    width: 0;
    opacity: 1;
}

.player .progress:hover .line {
    height: 100%;
}

.player[buffering='true'] .play,
.player[playing='true'] .play {
    display: none;
}

.player[buffering='true'] .pause,
.player[playing='false'] .pause {
    display: none;
}

.player[buffering='false'] .buffering {
    display: none;
}

.player .button.play.fa.fa-play {
    text-indent: 3px;
}
